In [77]:
#Dependancies
import pandas as pd
from bs4 import BeautifulSoup as bs
import requests
import pymongo
import json
from pprint import pprint

In [81]:
#scrape table using pandas
tables = pd.read_csv("C:\Users\mrose\OneDrive\Desktop\Project2-ETL\Project2-ETL\Airline")

SyntaxError: EOL while scanning string literal (<ipython-input-81-8135aecd4473>, line 2)

In [79]:
len(tables)

1

In [80]:
#naming the table
stats = tables[0]
stats.dropna()
stats["23"]

KeyError: '23'

In [72]:
#print table
stats.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,NaN,Base-line,95,96,97,98,99,00,01,02,...,13,14,15,16.0,17.0,18.0,19.0,20.0,21.0,PreviousYear%Change
1,Delta,77,72,67,69,65,68,66,61,66,...,68,71,71,71.0,76.0,74.0,75.0,77.0,79.0,2.6
2,Southwest,78,76,76,76,74,72,70,70,74,...,81,78,78,80.0,80.0,80.0,79.0,79.0,79.0,0.0
3,Alaska,NM,NM,NM,NM,NM,NM,NM,NM,NM,...,NM,NM,75,77.0,78.0,79.0,80.0,78.0,77.0,-1.3
4,JetBlue,NM,NM,NM,NM,NM,NM,NM,NM,NM,...,83,79,81,80.0,82.0,79.0,79.0,78.0,77.0,-1.3

In [73]:
for i in range(23,29):
    stats[i]=stats[i].astype('int64')

ValueError: Cannot convert non-finite values (NA or inf) to integer

In [49]:
new_stats=stats.iloc[:,[0,1,18,19,20,21,22,23,24,25,26,27,28,29]]
new_stats

,0,1,18,19,20,21,22,23,24,25,26,27,28,29
0,NaN,Base-line,11,12,13,14,15,16.0,17.0,18.0,19.0,20.0,21.0,PreviousYear%Change
1,Delta,77,56,65,68,71,71,71.0,76.0,74.0,75.0,77.0,79.0,2.6
2,Southwest,78,81,77,81,78,78,80.0,80.0,80.0,79.0,79.0,79.0,0.0
3,Alaska,NM,NM,NM,NM,NM,75,77.0,78.0,79.0,80.0,78.0,77.0,-1.3
4,JetBlue,NM,NM,81,83,79,81,80.0,82.0,79.0,79.0,78.0,77.0,-1.3
5,Airlines,72,65,67,69,69,69,72.0,75.0,73.0,74.0,75.0,76.0,1.3
6,United,71,61,62,62,60,60,68.0,70.0,67.0,70.0,75.0,75.0,0.0
7,American,70,63,64,65,66,66,72.0,76.0,74.0,73.0,74.0,75.0,1.4
8,All Others,NM,76,74,72,70,73,74.0,74.0,73.0,71.0,70.0,74.0,5.7
9,Allegiant,NM,NM,NM,NM,NM,65,65.0,71.0,74.0,71.0,74.0,72.0,-2.7
10,Frontier,NM,NM,NM,NM,NM,58,66.0,63.0,62.0,64.0,66.0,68.0,3.0
11,Spirit,NM,NM,NM,NM,NM,54,62.0,61.0,62.0,63.0,65.0,66.0,1.5
12,Northwest Airlines,69,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Continental,67,64,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,US Airways,72,61,65,64,66,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
new_header = new_stats.iloc[0]
new_header

0                     NaN
1               Base-line
18                     11
19                     12
20                     13
21                     14
22                     15
23                     16
24                     17
25                     18
26                     19
27                     20
28                     21
29    PreviousYear%Change
Name: 0, dtype: object

In [54]:
new_stats = new_stats[1:]
new_stats

,NaN,Base-line,11,12,13,14,15,16.0,17.0,18.0,19.0,20.0,21.0,PreviousYear%Change
1,Delta,77,56,65,68,71,71,71.0,76.0,74.0,75.0,77.0,79.0,2.6
2,Southwest,78,81,77,81,78,78,80.0,80.0,80.0,79.0,79.0,79.0,0.0
3,Alaska,NM,NM,NM,NM,NM,75,77.0,78.0,79.0,80.0,78.0,77.0,-1.3
4,JetBlue,NM,NM,81,83,79,81,80.0,82.0,79.0,79.0,78.0,77.0,-1.3
5,Airlines,72,65,67,69,69,69,72.0,75.0,73.0,74.0,75.0,76.0,1.3
6,United,71,61,62,62,60,60,68.0,70.0,67.0,70.0,75.0,75.0,0.0
7,American,70,63,64,65,66,66,72.0,76.0,74.0,73.0,74.0,75.0,1.4
8,All Others,NM,76,74,72,70,73,74.0,74.0,73.0,71.0,70.0,74.0,5.7
9,Allegiant,NM,NM,NM,NM,NM,65,65.0,71.0,74.0,71.0,74.0,72.0,-2.7
10,Frontier,NM,NM,NM,NM,NM,58,66.0,63.0,62.0,64.0,66.0,68.0,3.0
11,Spirit,NM,NM,NM,NM,NM,54,62.0,61.0,62.0,63.0,65.0,66.0,1.5
12,Northwest Airlines,69,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Continental,67,64,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,US Airways,72,61,65,64,66,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
new_stats.columns=new_header
new_stats

,NaN,Base-line,11,12,13,14,15,16.0,17.0,18.0,19.0,20.0,21.0,PreviousYear%Change
1,Delta,77,56,65,68,71,71,71.0,76.0,74.0,75.0,77.0,79.0,2.6
2,Southwest,78,81,77,81,78,78,80.0,80.0,80.0,79.0,79.0,79.0,0.0
3,Alaska,NM,NM,NM,NM,NM,75,77.0,78.0,79.0,80.0,78.0,77.0,-1.3
4,JetBlue,NM,NM,81,83,79,81,80.0,82.0,79.0,79.0,78.0,77.0,-1.3
5,Airlines,72,65,67,69,69,69,72.0,75.0,73.0,74.0,75.0,76.0,1.3
6,United,71,61,62,62,60,60,68.0,70.0,67.0,70.0,75.0,75.0,0.0
7,American,70,63,64,65,66,66,72.0,76.0,74.0,73.0,74.0,75.0,1.4
8,All Others,NM,76,74,72,70,73,74.0,74.0,73.0,71.0,70.0,74.0,5.7
9,Allegiant,NM,NM,NM,NM,NM,65,65.0,71.0,74.0,71.0,74.0,72.0,-2.7
10,Frontier,NM,NM,NM,NM,NM,58,66.0,63.0,62.0,64.0,66.0,68.0,3.0
11,Spirit,NM,NM,NM,NM,NM,54,62.0,61.0,62.0,63.0,65.0,66.0,1.5
12,Northwest Airlines,69,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Continental,67,64,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,US Airways,72,61,65,64,66,#,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
json_data = new_stats.to_json(orient='records')
pprint(json_data)

('[{"nan":"Delta","Base-line":"77","11":"56","12":"65","13":"68","14":"71","15":"71","16.0":71.0,"17.0":76.0,"18.0":74.0,"19.0":75.0,"20.0":77.0,"21.0":79.0,"PreviousYear%Change":"2.6"},{"nan":"Southwest","Base-line":"78","11":"81","12":"77","13":"81","14":"78","15":"78","16.0":80.0,"17.0":80.0,"18.0":80.0,"19.0":79.0,"20.0":79.0,"21.0":79.0,"PreviousYear%Change":"0.0"},{"nan":"Alaska","Base-line":"NM","11":"NM","12":"NM","13":"NM","14":"NM","15":"75","16.0":77.0,"17.0":78.0,"18.0":79.0,"19.0":80.0,"20.0":78.0,"21.0":77.0,"PreviousYear%Change":"-1.3"},{"nan":"JetBlue","Base-line":"NM","11":"NM","12":"81","13":"83","14":"79","15":"81","16.0":80.0,"17.0":82.0,"18.0":79.0,"19.0":79.0,"20.0":78.0,"21.0":77.0,"PreviousYear%Change":"-1.3"},{"nan":"Airlines","Base-line":"72","11":"65","12":"67","13":"69","14":"69","15":"69","16.0":72.0,"17.0":75.0,"18.0":73.0,"19.0":74.0,"20.0":75.0,"21.0":76.0,"PreviousYear%Change":"1.3"},{"nan":"United","Base-line":"71","11":"61","12":"62","13":"62","14":"60","15":"60","16.0":68.0,"17.0":70.0,"18.0":67.0,"19.0":70.0,"20.0":75.0,"21.0":75.0,"PreviousYear%Change":"0.0"},{"nan":"American","Base-line":"70","11":"63","12":"64","13":"65","14":"66","15":"66","16.0":72.0,"17.0":76.0,"18.0":74.0,"19.0":73.0,"20.0":74.0,"21.0":75.0,"PreviousYear%Change":"1.4"},{"nan":"All '
 'Others","Base-line":"NM","11":"76","12":"74","13":"72","14":"70","15":"73","16.0":74.0,"17.0":74.0,"18.0":73.0,"19.0":71.0,"20.0":70.0,"21.0":74.0,"PreviousYear%Change":"5.7"},{"nan":"Allegiant","Base-line":"NM","11":"NM","12":"NM","13":"NM","14":"NM","15":"65","16.0":65.0,"17.0":71.0,"18.0":74.0,"19.0":71.0,"20.0":74.0,"21.0":72.0,"PreviousYear%Change":"-2.7"},{"nan":"Frontier","Base-line":"NM","11":"NM","12":"NM","13":"NM","14":"NM","15":"58","16.0":66.0,"17.0":63.0,"18.0":62.0,"19.0":64.0,"20.0":66.0,"21.0":68.0,"PreviousYear%Change":"3.0"},{"nan":"Spirit","Base-line":"NM","11":"NM","12":"NM","13":"NM","14":"NM","15":"54","16.0":62.0,"17.0":61.0,"18.0":62.0,"19.0":63.0,"20.0":65.0,"21.0":66.0,"PreviousYear%Change":"1.5"},{"nan":"Northwest '
 'Airlines","Base-line":"69","11":"#","12":null,"13":null,"14":null,"15":null,"16.0":null,"17.0":null,"18.0":null,"19.0":null,"20.0":null,"21.0":null,"PreviousYear%Change":null},{"nan":"Continental","Base-line":"67","11":"64","12":"#","13":null,"14":null,"15":null,"16.0":null,"17.0":null,"18.0":null,"19.0":null,"20.0":null,"21.0":null,"PreviousYear%Change":null},{"nan":"US '
 'Airways","Base-line":"72","11":"61","12":"65","13":"64","14":"66","15":"#","16.0":null,"17.0":null,"18.0":null,"19.0":null,"20.0":null,"21.0":null,"PreviousYear%Change":null}]')

In [68]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)
db = client.new_stats
collection = db.new_stats
data = json.loads(new_stats.to_json(orient='records'))
collection.insert_many(data)
cursor = list(collection.find({}))
for document in cursor:
    print(document)

InvalidDocument: key '16.0' must not contain '.'